@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
@import "tailwindcss";

:root {
  --spacing: 16px;
  --color-primary: #3729df;
  --color-muted: #6f7489;
  --color-dark: #122244;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* @apply min-h-screen flex justify-center items-center; */
  background-image: url(/public/images/pattern-background-desktop.svg);
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
}
